.form {
    display: flex;
    flex-direction: column;
}

.form input[type="text"],
.form input[type="file"],
.submitBtn {
    width: 20%;
    margin-left: 40%;
    margin-bottom: 2%;
    padding: 1%;
}
